{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Password Set / Reset" %}{% endblock %}

{% block body %}
    <h1>{% trans "Password Set / Reset" %}</h1>

    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% endif %}

    <p>{% trans "Logging in for the first time? Check out <a href="http://workoutwars.piequeens.org/profiles/">http://workoutwars.piequeens.org/profiles/</a> for your username and the Workout Wars email for the default password." %}</p>
    <p>{% trans "Forgotten your password? Contact <a href="https://www.facebook.com/fabiola17lopez">Fabi</a>, <a href="https://www.facebook.com/m3ganx?fref=ts">Chewy</a>, or the PQ captains to reset it for you!" %}</p>

    <!-- <form method="POST" action="">
        {% csrf_token %}
        <fieldset >
            {{ password_reset_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Reset my password" %}</button>
        </div>
    </form>
    -->
    <hr>
    <!-- <p>This will only work with the Email address associated with your account. If you have multiple Email addresses
    and don't know which one to use, you can browse this list: <a href="http://workoutwars.piequeens.org/profiles/">http://workoutwars.piequeens.org/profiles/</a>
    </p> -->
    <p>If you are having trouble, contact your team captains or coaches for help.</p>

    <!--
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    -->
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
