{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Password Set / Reset" %}{% endblock %}

{% block body %}
    <h1>{% trans "Password Set / Reset" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Note" %}</span>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "Logging in for the first time? Forgotten your password? Enter your email address below, and we'll send you an email allowing you to set or reset your password." %}</p>
    
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset >
            {{ password_reset_form|as_bootstrap }}
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Reset my password" %}</button>
        </div>
    </form>
 
    <p>This will only work with the Email address associated with your account. If you have multiple Email addresses
    and don't know which one to use, you can browse this list: <a href="http://pq.amanahuja.me/profiles/">http://pq.amanahuja.me/profiles/</a>
    </p>
    <p>If you are having trouble, contact your team captains or coaches for help.</p>

    <!-- 
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    --> 
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
