{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul>{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            {# <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li> #}
            <li><a href="{% url indiv %}">Individual</a></li>
            <li><a href="{% url scoreboard %}">Scoreboard</a></li>
            <li><a href="{% url workout_add %}" class="btn primary small">Submit</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30448018-4', 'amanahuja.me');
    ga('send', 'pageview');

  </script> 

    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
