{% load account_tags %}
<div class="profile-item row"
  style="border-bottom: purple dashed 2px; margin-bottom:10px;">
  <div class="span6">
    <div class="name">
      {% if profile.name %}
        <a href="{% url profile_detail username=profile.user.username %}">{{ profile.name }} ({% user_display profile.user %})</a>
      {% else %}
        <a href="{% url profile_detail username=profile.user.username %}">{% user_display profile.user %}</a>
      {% endif %}
    </div>
    <div class="details">
      <ul>
        {% if profile.graduating_class %}<li>{{ profile.class_str }}</li>{% endif %}
        {# Removed dessert option for winter 2015: {% if profile.dessert %}<li>{{ profile.dessert_str }}</li>{% endif %} #}

      </ul>
    </div>
  </div>
  <div class="biopic span6">
    <img height="150px" 
    src="{{ profile.photo_link|default:"/site_media/static/images/profile_crown.jpg" }}">
  </div>
  <div class="clear"></div>
</div>
