{% extends "site_base.html" %}

{% block head_title %} Individual Statistics {% endblock %}

{% block extra_head %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script>
  $(document).ready(function(){
      $('#workout-table').dataTable({
          "aaSorting": [[ 1, "desc" ]],
          "iDisplayLength": 100
      });
    });
</script>

{% if day_scores %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // google.charts.load('current', {'packages':['line']});
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Day');
      data.addColumn('number', 'Score');

      data.addRows({{ day_scores }});

      var options = {
        title: 'Score per Day of Workout Wars',
        legend: {position: 'none'},
        width: 800,
        height: 500
      };

      // var chart = new google.charts.Line(document.getElementById('linechart_material'));
      var chart = new google.visualization.LineChart(document.getElementById('linechart_material'));

      chart.draw(data, options);
    }
  </script>
{% endif %}

{% endblock %}

{# {% load pagination_tags %} #}

{% block body %}
<h1>Individual Progress</h1>

<h3>Workout Statistics</h3>
{% if not workouts %}
  <p> log a workout to see your workout stats here </p>
{% endif %}
{% if total_score %}
  <p>Total Number of Points Earned: {{total_score}}</p>
{% endif %}
{% if num_workouts %}
  <p>Total Workouts Submitted: {{num_workouts}}</p>
{% endif %}
{% if average_score %}
  <p>Average Number of Points per Day: {{average_score}}</p>
{% endif %}

{% if day_scores %}
<div id="linechart_material" style="width: 900px; height: 500px"></div>
{% endif %}

{% if workouts %}
  {# {% autopaginate workouts %} #}
  <h3>Recent Workouts Completed</h3>
  <table 
    id="workout-table"
    class="table zebra-striped bordered-table condensed-table">
    <thead>
      <tr>
        <th>Queen</th>
        <th>Workout Date</th>
        <th>Class</th>
        {# Removed dessert option for winter 2015: <th>Dessert</th>   #}
        <th>Activity</th>
        <th>Workout Score</th>
      </tr>
    </thead>
    <tbody>
      {% for workout in workouts %}
        <tr>
          <td><a href="{% url profile_detail workout.user.username %}">
                  {{ workout.user.profile_set.get.name }}</a></td>
          <td>{{ workout.workout_date}}</td>
          <td>{{ workout.user.profile_set.get.class_str }}</td>
          {# Removed dessert option for winter 2015: <td>{{ workout.user.profile_set.get.dessert_str }}</td>  #}
          <td>{{ workout.activity.description }}</td>
          <td>{{ workout.score }}</td>
        </tr>
      {% endfor %}
    </tbody>


  </table>  

  {#  {% paginate %} #}

{% endif %}

{% if ranked_players %}
  {# {% autopaginate workouts %} #}
  <h3>Ranked Players</h3>
  <table 
    id="indiv-table"
    class="table zebra-striped bordered-table condensed-table">
    <thead>
      <tr>
        <td> a </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> a </td>
      </tr>
    </tbody>
  </table>

{% endif %}

<div style="clear:both;">
  <p>&nbsp;</p></div>
<h3>Feeling inspired?</h3>
<p>Go work out, and then <a href="{% url workout_add %}">submit your workout! </a></p>

{% endblock %}