{% extends "site_base.html" %}

{% block head_title %} List of Workouts{% endblock %}

{% load pagination_tags %}

{% block body %}

{% if ranked_players %}
  {# {% autopaginate ranked_players %} #} 
  <h3>Ranked Players</h3>
  <table 
    id="indiv-table"
    class="table zebra-striped bordered-table condensed-table">
    <thead>
      <tr>
        <td>Player</td>
        <td>Total Score to date</td>
        {# <td>Class</td>  <td>Dessert</td>  #} 
      </tr>
    </thead>
    <tbody>
      {% for pl in ranked_players %}
      <tr>
        <td>{{ pl.0 }}</td>
        <td>{{ pl.1 }}</td>
        {#  <td>{{ pl.2 }}</td> <td>{{ pl.3 }}</td> #} 
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {#   {% paginate %} #}

{% endif %}

<div style="clear:both;">
  <p>&nbsp;</p></div>
<h3>Feeling inspired?</h3>
<p>Go work out, and then <a href="{% url workout_add %}">submit your workout! </a></p>

{% endblock %}

{% block head_title %} Scoreboards {% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          var data_BOTH = google.visualization.arrayToDataTable({{ class_list_BOTH|safe }});
          //var data_PI = google.visualization.arrayToDataTable({{ class_list_PI|safe }});
          //var data_TR = google.visualization.arrayToDataTable({{ class_list_TR|safe }});
        var options = {
          width: 700,
          height: 280, 
          colors: ['purple'],
          bar: {groupWidth: "95%"},
          legend: {position: "none" }, 
          chartArea:{left:95,top:10,width:"90%",height:"85%"},
          //hAxis: {title: 'Class', titleTextStyle: {color: 'purple'}}
          };

        //var chart_PI = new google.visualization.ColumnChart(document.getElementById('PI_chart_div'));
        //chart_PI.draw(data_PI, options);
        //var chart_TR = new google.visualization.ColumnChart(document.getElementById('TR_chart_div'));
        //chart_TR.draw(data_TR, options);

        var chart_BOTH = new google.visualization.ColumnChart(document.getElementById('BOTH_chart_div'));
        chart_BOTH.draw(data_BOTH, options);
      }
    </script>

{% endblock %}

{% block body %}

<h1>Scoreboards</h1>

{% if team_scores %}
<h2>Points Earned by Team</h2>
<table 
  class="table zebra-striped bordered-table condensed-table"
  style="max-width:700px; table-layout : fixed;"
  >
  <thead style="font-size:larger">
    <tr>
      <th>Team</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for team_name, team_score in team_scores %}
      <tr>
      <th>{{ team_name }}</th>
      <th>{{ team_score }}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if class_dict_BOTH %}
  <h2>Points Earned by Year</h2>
  <p>Total points earned by class, divided by the number of players in that class.</p>
  <div id="BOTH_chart_div" style="width: 750px; height: 300px;"></div>

<table 
  class="table zebra-striped bordered-table condensed-table"
  style="max-width:700px; table-layout : fixed;margin-bottom:2px"
  >
  <thead>
    <tr>
      <th width=100%>Queens</th>
    </tr>
  </thead>
</table>
<table 
  class="table zebra-striped bordered-table condensed-table"
  style="max-width:700px; table-layout : fixed;"
  >
  <thead style="font-size:larger;">
    <tr>
      <th></th>
      <th>Freshmen</th>
      <th>Sophomores</th>
      <th>Juniors</th>
      <th>Seniors</th>
      <th>Graduate Students</th>
      <th>Coaches</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Normalized</th>
      <th>{{ class_dict_BOTH.FR.0|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.SO.0|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.JR.0|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.SR.0|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.GR.0|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.CO.0|floatformat:2|default:0 }}</th>
    </tr>
    <tr>
      <th>Total</th>
      <th>{{ class_dict_BOTH.FR.1|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.SO.1|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.JR.1|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.SR.1|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.GR.1|floatformat:2|default:0 }}</th>
      <th>{{ class_dict_BOTH.CO.1|floatformat:2|default:0 }}</th>
    </tr>
  </tbody>
</table>
{% endif %}

<h3>Feeling inspired?</h3>
<p>Go work out, and then <a href="{% url workout_add %}">submit your workout! </a></p>

<h3>See recent workouts</h3>
<p>Look at <a href="{% url workout_list %}">all the hard work you and your teammates are doing</a>.</p>
{% endblock %}

